
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-top:0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.wrapper {
  margin: 0 auto;  /*centres the text in the middle of the page*/
  padding-top: 64px;
  max-width: 620px; /*restrict the width for more concise viewing*/
  width: 94%;
  text-align:justify;
  line-height:1.5rem;
}

.wrapper h1 {
  text-align: center;
}

/**
 * Footer Styles
 */

.footer {
  position: absolute;
  display:flex;
  background-color:hsl(195, 63%, 70%);
  justify-content: space-around;
  align-items:center;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

#page_logo img {
  width:180px;
  height: 40px;
  margin-top: 5px;
  z-index:1;
  position:absolute;
  z-index:4;
  background-size:contain;
  transition: top 1s;
}

#header {
  display:flex;
  justify-content: space-between;
  align-items:center;
}
  
div.container6 {
  height: 5em;
  width:100vw;
  background-color:hsl(195, 63%, 70%);
  display: flex;
  align-items: center;
  justify-content: space-around; 
}

#pageLogo {
  margin: 0 
  width:180px;
  height: 40px;
}

 li {
    color:black;
    list-style:none;
    flex: 1 0 20vw;
    text-align:center;
  }

  a {
    text-decoration:none;
    color:black;
  }

/*#header {
 	display:flex;
 	justify-content: space-between;
	background-color:hsl(195, 63%, 70%);
	position:fixed;
	width:100vw;
	z-index:3; 
	height:50px;
	transition: top 0.5s;
}

.container {
	display:inline-flex;
	width:100vw;
}

.container  > li {
	display:flex;
	font-size:1.1rem;
	/*display: inline-flex;*/
/*	flex: 1;
	list-style-type:none;
	justify-content: center;
	margin-top: -2px;
}*/

/*#home_button {
	margin-right: -250px;
}

#contact_button {
	margin-left: -250px;
}

.container a {
	text-decoration:none;
	color:black;*/
}*/


/*************************************************************/
			/*page content beyond header and footer*/


#pageLogo img {
	width:180px;
	height: 40px;
	margin-top: -6px;
	z-index:1;
	position:relative;
	z-index:4;
	background-size:contain;
	transition: top 1s;
}

.grid {
	min-height:100%;
	display:grid;
	grid-template-columns:repeat(12, 1fr);
	grid-template-rows:60px 60px repeat(4,1fr) 1fr;
}

.grid > div{
	display:flex;
	align-items:center;
}

.article_1_Grid {
	flex-wrap: wrap;
	padding:20px;
	display:flex;
	grid-column:3/-3;
	grid-row:3/3;
	color:white;
	justify-content: space-around;
	align-items: center;
}

.flexItem_1 {
	display:flex;
	align-items: flex-start;
	justify-content: center;
}

.cphViewsText {
	display:flex;
	justify-content: flex-start;
	font-size: 40px;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 2.5rem;
	background-color: hsl(242, 59%, 57%);
	width: 360px;
	height: 160px;
	padding-top:20px;
	padding-left: 10px;
	margin-top:0px;
}

.cphViews img {
	height: 200px;
	width: 400px;
	background-size:contain;
}


.cphViews {
	display:flex;
	opacity: 1;
	transition: .7s;
	z-index:1;
}


.cphViews:hover {
  opacity: 0.5;
  z-index:0;
}

.cphViews:hover .middle {
  z-index:2;
}

.middle{
  transition: .7s ;
  position: absolute;
  color:white;
  z-index: 0;
}

 .cphViews_hover_text{
  background-color: hsl(242, 59%, 57%);
  color: #FAFAFA;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  padding: 8px 16px;
  margin-left:60px;
 }


.article_2_Grid {
	flex-wrap: wrap;
	padding:20px;
	display:flex;
	grid-column:3/-3;
	grid-row:4/5;
	color:white;
	justify-content: space-around;
	align-items: center;
	/*border:2px solid black;*/
}

.flexItem_2 {
	display:flex;
	align-items: flex-start;
	justify-content: center;
	/*border: 2px solid black;*/
}

.bestBahnMi_text {
	display:flex;
	justify-content: flex-start;
	font-size: 40px;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 2.5rem;
	background-color: hsl(4, 76%, 47%);
	width: 360px;
	height: 160px;
	padding-top:20px;
	padding-left: 10px;
	margin-top:0px;
	color:white;
}

.bahnMi img {
	height: 200px;
	width: 400px;
	background-size:contain;
}


.bahnMi {
	display:flex;
	opacity: 1;
	transition: .7s;
	z-index:1;
}


.bahnMi:hover {
  opacity: 0.5;
  z-index:0;
}

.bahnMi:hover .middle_2 {
  z-index:2;
}

.middle_2 {
  transition: .7s ;
  position: absolute;
  color: white;
  z-index: 0;
}

 .bestBahnMi_hover_text{
  background-color: hsl(4, 76%, 47%);
  color: #FAFAFA;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  padding: 8px 16px;
  margin-left:60px;
 }


 .article_3_Grid {
	flex-wrap: wrap;
	padding:20px;
	display:flex;
	grid-column:3/-3;
	grid-row:5/6;
	color:white;
	justify-content: space-around;
	align-items: center;
	/*border:2px solid black;*/
}

.flexItem_3 {
	display:flex;
	align-items: flex-start;
	justify-content: center;
	/*border: 2px solid black;*/
}

.streetTour_text {
	display:flex;
	justify-content: flex-start;
	font-size: 40px;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 2.5rem;
	background-color: hsl(198, 81%, 57%);
	width: 360px;
	height: 160px;
	padding-top:20px;
	padding-left: 10px;
	margin-top:0px;
	color:white;
}

.elmegade img {
	height: 200px;
	width: 400px;
	background-size:contain;
}


.elmegade {
	display:flex;
	opacity: 1;
	transition: .7s;
	z-index:1;
}


.elmegade:hover {
  opacity: 0.5;
  z-index:0;
}

.elmegade:hover .middle_3 {
  z-index:2;
}

.middle_3 {
  transition: .7s ;
  position: absolute;
  background-color: hsl(198, 81%, 57%);
  color: white;
  z-index: 0;
}

 .elmegade_hover_text{
  background-color: hsl(198, 81%, 57%);
  color: #FAFAFA;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  padding: 8px 16px;
  margin-left:60px;
 }

  .article_4_Grid {

	flex-wrap: wrap;
	padding:20px;
	display:flex;
	grid-column:3/-3;
	grid-row:6/7;
	color:white;
	justify-content: space-around;
	align-items: center;
	/*border:2px solid black;*/
}

.flexItem_4 {
	display:flex;
	align-items: flex-start;
	justify-content: center;
	/*border: 2px solid black;*/
}

.bestParks_text {
	display:flex;
	justify-content: flex-start;
	font-size: 40px;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 2.5rem;
	background-color: hsl(80, 74%, 45%);
	width: 360px;
	height: 160px;
	padding-top:20px;
	padding-left: 10px;
	margin-top:0px;
	color:white;
}

.parks img {

	height: 200px;
	width: 400px;
	background-size:contain;
}


.parks {
	display:flex;
	opacity: 1;
	transition: .7s;
	z-index:1;
}


.parks:hover {
  opacity: 0.5;
  z-index:0;
}

.parks:hover .middle_4 {
  z-index:2;
}

.middle_4 {
  transition: .7s ;
  position: absolute;
  background-color:hsl(80, 74%, 45%);
  color: white;
  z-index: 0;
}

 .bestParks_hover_text{
  background-color: hsl(80, 74%, 45%);
  color: #FAFAFA;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  padding: 8px 16px;
  margin-left:60px;
 }


  .article_5_Grid {

	flex-wrap: wrap;
	padding:20px;
	display:flex;
	grid-column:3/-3;
	grid-row:7/8;
	color:white;
	justify-content: space-around;
	align-items: center;
	/*border:2px solid black;*/
}

.flexItem_5 {
	display:flex;
	align-items: flex-start;
	justify-content: center;
	/*border: 2px solid black;*/
}

.bestBakeries_text {
	display:flex;
	justify-content: flex-start;
	font-size: 40px;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 2.5rem;
	background-color: hsl(35, 70%, 50%);
	width: 360px;
	height: 180px;
	padding-top:20px;
	padding-left: 10px;
	margin-top:0px;
	color:white;
}

.bakeries img {

	height: 200px;
	width: 400px;
	background-size:contain;
}


.bakeries {
	display:flex;
	opacity: 1;
	transition: .7s;
	z-index:1;
}


.bakeries:hover {
  opacity: 0.5;
  z-index:0;
}

.bakeries:hover .middle_5 {
  z-index:2;
}

.middle_5 {
  transition: .7s ;
  position: absolute;
  height:20px;
  background-color:hsl(35, 70%, 50%);
  color: white;
  z-index: 0;
}

 .bestBakeries_hover_text{
  background-color: hsl(35, 70%, 50%);
  color: #FAFAFA;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  padding: 8px 16px;
  margin-left:60px;
 }

/*extra styling for the about page
*/
#headshot {

	margin: auto auto;
	margin-left: -100px;
	height:500px;
}

#socialMediaBar {
	position: fixed;
	left: 8%;
	top: 25%;
}

.socialMediaIcon {
	height: 50px;
	width: 50px;
	margin-bottom: 10px;
}

#facebookIcon:hover{
	height: 60px;
	width: 60px;
	margin-left: -5px;
	margin-top: -5px;
}

#twitterIcon:hover{
	height: 60px;
	width: 60px;
	margin-left: -5px;
	margin-top: -5px;
}

#instagramIcon:hover{
	height: 60px;
	width: 60px;
	margin-left: -5px;
	margin-top: -5px;
}

#linkedinIcon:hover{
	height: 60px;
	width: 60px;
	margin-left: -5px;
	margin-top: -5px;
}

#githubIcon:hover{
	height: 60px;
	width: 60px;
	margin-left: -5px;
	margin-top: -5px;
}

@media screen and (max-width: 640px) {
	#header {
		display:flex;
		justify-content: center;
	}

	#header .container{
		display : inline-flex;
		margin:0;
		padding:0;
		margin-top: 65px;
		
	}

	.wrapper {
		padding-top:20px;
		max-width: 520px;
	}

	.wrapper h1 {
 		 line-height:2.5rem;
 		 padding-bottom:10px;
}

	.container  > li {
		display: flex;
		font-size: 1.3rem;
		flex: 2;
		list-style-type:none;
		
}

	#myBtn {
    	left:41%;
  }

}

@media screen and (max-width: 500px) {
	
		
	}

	}
	}





