
/******************* Globally effecting properties *******************/

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-top:0;
  overflow-x:hidden;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.wrapper {
  margin: 0 auto;  /*centres the text in the middle of the page*/
  padding-top: 44px;
  max-width: 620px; /*restrict the width for more concise viewing*/
  width: 94%;
  text-align:justify;
  line-height:1.5rem;
}

.wrapper h1 {
  text-align: center;
}

/**
 * ************************** Footer Styles **************************
 */


.footer {
  position: absolute;
  display:flex;
  background-color:hsl(195, 63%, 70%);
  justify-content: center;
  align-items:center;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  width:100vw;
}

.footer div { 
margin-left: -20px; }


/************************************************************
			/*page content beyond header and footer*/


/*#pageLogo img {
	width:180px;
	height: 30px;
	margin-top: -6px;
	position:relative;
	z-index:4;
	background-size:contain;
	transition: top 1s;
}*/

/*.grid {
	min-height:100%;
	display:grid;
	grid-template-columns:(12, 1fr);
	grid-template-rows:60px 60px repeat(4,1fr) 1fr;
}*/

/*.grid > div{
	display:flex;
	align-items:center;
}*/

.article_1_Grid {
	flex-wrap: wrap;
	padding:20px;
	display:flex;
	margin-top: 50px;
	/*grid-column:3/-3;*/
	/*grid-row:3/4;*/
	color:white;
	justify-content: space-around;
	align-items: center;
}

.flexItem_1 {
	display:flex;
	align-items: flex-start;
	justify-content: center;
}

.cphViewsText {
	background-color: none;
	color:white;
	display:flex;
	justify-content: flex-start;
	font-size: 40px;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 2.5rem;
	background-color: hsl(242, 59%, 57%);
	width: 360px;
	height: 160px;
	padding-top:20px;
	padding-left: 10px;
	margin-top:0px;
}

.cphViewsText:hover {
	text-decoration: underline;
	color:black;
}



.cphViews img {
	height: 200px;
	width: 400px;
	background-size:contain;
}


.cphViews {
	display:flex;
	opacity: 1;
	transition: .7s;
	z-index:1;
}


.cphViews:hover {
  opacity: 0.5;
  z-index:0;
}

.cphViews:hover .middle {
  z-index:2;
}

.middle{
  transition: .7s ;
  position: absolute;
  color:white;
  z-index: 0;
}

 .cphViews_hover_text{
  background-color: hsl(242, 59%, 57%);
  color: #FAFAFA;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  padding: 8px 16px;
  margin-left:60px;
 }


.article_2_Grid {
	flex-wrap: wrap;
	padding:20px;
	display:flex;
	/*grid-column:3/-3;*/
	/*grid-row:4/5;*/
	color:white;
	justify-content: space-around;
	align-items: center;
}

.flexItem_2 {
	display:flex;
	align-items: flex-start;
	justify-content: center;
}

.bestBahnMi_text {
	display:flex;
	justify-content: flex-start;
	font-size: 40px;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 2.5rem;
	background-color: hsl(4, 76%, 47%);
	width: 360px;
	height: 160px;
	padding-top:20px;
	padding-left: 10px;
	margin-top:0px;
	color:white;
}

.bestBahnMi_text:hover {
	text-decoration: underline;
	color:black;
}

.bahnMi img {
	height: 200px;
	width: 400px;
	background-size:contain;
}


.bahnMi {
	display:flex;
	opacity: 1;
	transition: .7s;
	z-index:1;
}


.bahnMi:hover {
  opacity: 0.5;
  z-index:0;
}

.bahnMi:hover .middle_2 {
  z-index:2;
}

.middle_2 {
  transition: .7s ;
  position: absolute;
  color: white;
  z-index: 0;
}

 .bestBahnMi_hover_text{
  background-color: hsl(4, 76%, 47%);
  color: #FAFAFA;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  padding: 8px 16px;
  margin-left:60px;
 }


 .article_3_Grid {
	flex-wrap: wrap;
	padding:20px;
	display:flex;
	/*grid-column:3/-3;*/
	/*grid-row:5/6;*/
	color:white;
	justify-content: space-around;
	align-items: center;
}

.flexItem_3 {
	display:flex;
	align-items: flex-start;
	justify-content: center;
}

.streetTour_text {
	display:flex;
	justify-content: flex-start;
	font-size: 40px;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 2.5rem;
	background-color: hsl(198, 81%, 57%);
	width: 360px;
	height: 160px;
	padding-top:20px;
	padding-left: 10px;
	margin-top:0px;
	color:white;
}

.streetTour_text:hover {
	text-decoration: underline;
	color:black;
}

.elmegade img {
	height: 200px;
	width: 400px;
	background-size:contain;
}


.elmegade {
	display:flex;
	opacity: 1;
	transition: .7s;
	z-index:1;
}


.elmegade:hover {
  opacity: 0.5;
  z-index:0;
}

.elmegade:hover .middle_3 {
  z-index:2;
}

.middle_3 {
  transition: .7s ;
  position: absolute;
  background-color: hsl(198, 81%, 57%);
  color: white;
  z-index: 0;
}

 .elmegade_hover_text{
  background-color: hsl(198, 81%, 57%);
  color: #FAFAFA;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  padding: 8px 16px;
  margin-left:60px;
 }

  .article_4_Grid {

	flex-wrap: wrap;
	padding:20px;
	display:flex;
	/*grid-column:3/-3;*/
	/*grid-row:6/7;*/
	color:white;
	justify-content: space-around;
	align-items: center;
}

.flexItem_4 {
	display:flex;
	align-items: flex-start;
	justify-content: center;
}

.bestParks_text {
	display:flex;
	justify-content: flex-start;
	font-size: 40px;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 2.5rem;
	background-color: hsl(80, 74%, 45%);
	width: 360px;
	height: 160px;
	padding-top:20px;
	padding-left: 10px;
	margin-top:0px;
	color:white;
}

.bestParks_text:hover {
	text-decoration: underline;
	color:black;
}


.parks img {
	height: 200px;
	width: 400px;
	background-size:contain;
}


.parks {
	display:flex;
	opacity: 1;
	transition: .7s;
	z-index:1;
}


.parks:hover {
  opacity: 0.5;
  z-index:0;
}

.parks:hover .middle_4 {
  z-index:2;
}

.middle_4 {
  transition: .7s ;
  position: absolute;
  background-color:hsl(80, 74%, 45%);
  color: white;
  z-index: 0;
}

 .bestParks_hover_text{
  background-color: hsl(80, 74%, 45%);
  color: #FAFAFA;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  padding: 8px 16px;
  margin-left:60px;
 }

  .article_5_Grid {
	flex-wrap: wrap;
	padding:20px;
	display:flex;
	/*grid-column:3/-3;*/
	/*grid-row:7/8;*/
	color:white;
	justify-content: space-around;
	align-items: center;
}

.flexItem_5 {
	display:flex;
	align-items: flex-start;
	justify-content: center;
}

.bestBakeries_text {
	display:flex;
	justify-content: flex-start;
	font-size: 40px;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 2.5rem;
	background-color: hsl(35, 70%, 50%);
	width: 360px;
	height: 180px;
	padding-top:20px;
	padding-left: 10px;
	margin-top:0px;
	color:white;
}

.bestBakeries_text:hover {
	text-decoration: underline;
	color:black;
}

.bakeries img {

	height: 200px;
	width: 400px;
	background-size:contain;
}


.bakeries {
	display:flex;
	opacity: 1;
	transition: .7s;
	z-index:1;
}


.bakeries:hover {
  opacity: 0.5;
  z-index:0;
}

.bakeries:hover .middle_5 {
  z-index:2;
}

.middle_5 {
  transition: .7s ;
  position: absolute;
  height:20px;
  background-color:hsl(35, 70%, 50%);
  color: white;
  z-index: 0;
}

 .bestBakeries_hover_text{
  background-color: hsl(35, 70%, 50%);
  color: #FAFAFA;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  padding: 8px 16px;
  margin-left:60px;
 }

/*********************************************** Extra styling for the about page ********************************************/


#socialMediaBar {
	position: fixed;
	left: 8%;
	top: 25%;
}

.socialMediaIcon {
	height: 50px;
	width: 50px;
	margin-bottom: 10px;
}

#facebookIcon:hover{
	height: 60px;
	width: 60px;
	margin-left: -5px;
	margin-top: -5px;
}

#twitterIcon:hover{
	height: 60px;
	width: 60px;
	margin-left: -5px;
	margin-top: -5px;
}

#instagramIcon:hover{
	height: 60px;
	width: 60px;
	margin-left: -5px;
	margin-top: -5px;
}

#linkedinIcon:hover{
	height: 60px;
	width: 60px;
	margin-left: -5px;
	margin-top: -5px;
}

#githubIcon:hover{
	height: 60px;
	width: 60px;
	margin-left: -5px;
	margin-top: -5px;
}


/**
 * **************************************** Header Styles ********************************************** 
 */

#pageLogo img  {
  
}

li:nth-child(3) img { 
  width: 220px;
  height: 50px;
  margin-top: 5px;
  transition: top 1s;}

#header {
  display:flex;
  justify-content: space-around;
  align-items:center;
}
  
div.container6 {
  height: 5em;
  width:100vw;
  background-color:hsl(195, 63%, 70%);
  display: flex;
  align-items: center;
  justify-content: space-around; 
}

 li {
    color:black;
    list-style:none;
    flex: 1 0 12vw;
    text-align:center;
    margin-left: -30px;
  }

  a {
    text-decoration:none;
    color:black;
  }

  /**
 * **************************************** About page  ********************************************** 
 */

.container {
  width: 100vw;
  height: auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.item {
  flex-shrink: 1;
  text-align: center;
  width: auto;
  background: #ffffff;
  width: 100vw;
  height:450px;
  margin:0;
  padding:0;
}

.item-2 h1 {
	margin-bottom: 200px;
	margin-top: 60px;
	text-align: center;
	line-height:2.7rem;
	color:black;
	font-family: 'Nobile', sans-serif;
	font-size:1.8;
}

#headshot {
	width: 350px;
	height:360px;
	margin-top:75px;
	margin-left: -10px;
	padding:0;
	border-radius: 100%;
}

#description{	
	display:flex;
	justify-content: center;
	background-color:#ffffff;
	font-family: 'Mukta', sans-serif;
	flex-grow:1;
}

#programBar {
	position: absolute;
	width:500px;
	left: 47.5%;
	top: 70%;
	margin-top: 30px;
	justify-content: space-around;
}

.programIcon {
	height: 80px;
	width: 80px;
	margin-bottom: 10px;
}

#jsIcon:hover{
	height: 100px;
	width: 100px;
	margin-left: -5px;
	margin-top: -5px;
}

#phpIcon:hover{
	height: 100px;
	width: 100px;
	margin-left: -5px;
	margin-top: -5px;
}

#cssIcon:hover{
	height: 100px;
	width: 100px;
	margin-left: -5px;
	margin-top: -5px;
}

#htmlIcon:hover{
	height: 100px;
	width: 100px;
	margin-left: -5px;
	margin-top: -5px;
}

/************************************************ Top Scroll Button **********************************************************/

#myBtn_About_Page {
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 4px 30px; /* Some padding */
  border-radius: 35px; /* Rounded corners */
  font-size: 20px; /* Increase font size */
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin-left: 30px;
}

#myBtn_About_Page:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/************************************************ Media queries **************************************************************/

@media screen and (max-width: 1200px) {

 #socialMediaBar {
	display:inline-flex;
	position: absolute;
	left: 37%;
	top: 92%;
}

.socialMediaIcon {
	height: 40px;
	width: 40px;
	margin-right: 15px;
}


@media screen and (max-width: 800px) {
	
	body {
  position: relative;
  margin: 0;
  padding-top:0;
  overflow-x:hidden;
  padding-bottom: 10rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

	.item-2 h1 {
	margin-top: 30px;
	line-height:2.2rem;
	font-size:1.5rem;
}

.article_1_Grid {
	flex-wrap: wrap;
	padding:20px;
	display:flex;
	margin-top: 80px;
	/*grid-column:3/-3;*/
	/*grid-row:3/4;*/
	color:white;
	justify-content: space-around;
	align-items: center;
}

 #socialMediaBar {
	display:inline-flex;
	position: absolute;
	left: 30%;
	top: 90%;
}

.socialMediaIcon {
	height: 40px;
	width: 40px;
	margin-right: 15px;
}

@media screen and (max-width: 700px) {

	li:nth-child(3) img { 
	  width: 180px;
	  height: 40px;
	  margin-top: 5px;
	  transition: top 1s;
 }

 #socialMediaBar {
	display:inline-flex;
	position: absolute;
	left: 30%;
	top: 90%;
}

.socialMediaIcon {
	height: 40px;
	width: 40px;
	margin-right: 15px;
}

	div.container6 {
	  height: 8em;
	  flex-wrap:wrap;
	}

	li {
    flex: 0 1 30vw;
    text-align:center;
    margin-top: -30px;
	}

  li:nth-child(1) {
  flex: 0 1 50vw; 
  }	


  li:nth-child(2) {
  flex: 0 1 50vw;
  	}

  li:nth-child(3) {
  flex: 0 1 100vw;
  	margin-top: 0px}

  li:nth-child(4) {
  flex: 0 1 50vw;
  	}

  li:nth-child(5) {
  flex: 0 1 50vw;
  	}

 .container6 :nth-child(3) {order: 1;}
 .container6 :nth-child(1) {order: 2;}
 .container6 :nth-child(2) {order: 3;}
 .container6 :nth-child(4) {order: 4;}
 .container6 :nth-child(5) {order: 5;}

@media screen and (max-width: 640px) {
	#header {
		display:flex;
		justify-content: center;
	}

		 #socialMediaBar {
	display:inline-flex;
	position: absolute;
	left: 25%;
	top: 90%;
}

	#headshot {
		width: 300px;
		height:310px;
		margin-top:55px;
	}

	div.container6 {
	  height: 8em;
	  flex-wrap:wrap;
	}

	#header .container{
		display : inline-flex;
		margin:0;
		padding:0;
		margin-top: 65px;
	}

	.wrapper {
		padding-top:20px;
		max-width: 500px;
		line-height:1.5rem;
	}

	.wrapper h1 {
 		 max-width: 500px;
 		 padding-bottom:30px;
 		 line-height:2.5rem;
	}

	.container  > li {
		display: flex;
		font-size: 1.3rem;
		flex: 2;
		list-style-type:none;
		
		}
			#myBtn {
		    left:41%;
		  }


.item-2 h1 {
	margin: 0 auto;  
    max-width: 430px; 
	margin-top: 30px;
	line-height:2rem;
	font-size:1.5rem;
}


  @media screen and (max-width: 550px) {
	
	.item-2 h1 {
	margin-top: 30px;
	line-height:2.2rem;
	font-size:1.3rem;
	}

	 #socialMediaBar {
	display:inline-flex;
	position: absolute;
	left: 20%;
	top: 90%;
}

	.wrapper {
		max-width: 450px;
		line-height:1.5rem;
	}

	.wrapper h1 {
 		 max-width: 450px;
 		 line-height:2.5rem;
 		
	}

	#headshot {
		width: 300px;
		height:310px;
		margin-top:75px;
	}

	@media screen and (max-width: 450px) {
	.item-2 h1 {  
    max-width: 320px;
	}

	.wrapper {
		max-width: 350px;
		line-height:1.5rem;
	}

	.wrapper h1 {
 		 max-width: 500px;
 		 line-height:2.5rem;
	}



				}

			}
		}
  	}
 }




