
/******************* Globally effecting properties *******************/

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-top:0;
  overflow-x:hidden;
  padding-bottom: 8rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.wrapper {
  margin: 0 auto;  /*centres the text in the middle of the page*/
  padding-top: 44px;
  max-width: 620px; /*restrict the width for more concise viewing*/
  width: 94%;
  text-align:justify;
  line-height:1.5rem;
}

.wrapper p {
		margin-top:20px;
	}

.wrapper h1 {
  text-align: center;
  padding-bottom:15px;
  text-decoration: underline;
}

/**
 * ************************** Footer Styles **************************
 */


.footer {
  position: absolute;
  display:flex;
  background-color:hsl(195, 63%, 70%);
  justify-content: center;
  align-items:center;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  width:100vw;
}

.footer div { 
margin-left: -20px; }


/************************************************************
			/*page content beyond header and footer*/

.article_1_Grid {
	
	padding:20px;
	margin-top: 50px;
	color:white;
	align-items: center;
}

.flexItem_1 {
	display:flex;
	flex-wrap: wrap;
	align-items: space-around;
	justify-content: center;
}

.cphViewsText {
	background-color: none;
	color:white;
	justify-content: flex-start;
	font-size: 40px;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 2.5rem;
	background-color: hsl(242, 59%, 57%);
	height: 160px;
	width: 360px;
	padding-top:20px;
	padding-left: 10px;
	margin-top:0px;
}

.cphViewsText:hover {
	text-decoration: underline;
	color:yellow;
}

.cphViews img {
	height: 200px;
	width: 400px;
	background-size:contain;
}

.cphViews {
	display:flex;
	opacity: 1;
	transition: .7s;
	z-index:1;
}

.cphViews:hover {
  opacity: 0.5;
  z-index:0;
}

.cphViews:hover .middle {
  z-index:2;
}

.middle{
  transition: .7s ;
  position: absolute;
  color:white;
  z-index: 0;
}

 .cphViews_hover_text{
  background-color: hsl(242, 59%, 57%);
  color: #FAFAFA;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  padding: 8px 16px;
  margin-left:60px;
 }

.article_2_Grid {
	flex-wrap: wrap;
	padding:20px;
	display:flex;
	color:white;
	justify-content: space-around;
	align-items: center;
}

.flexItem_2 {
	display:flex;
	flex-wrap: wrap;
	align-items: space-around;
	align-items: flex-start;
	justify-content: center;

}

.bestBahnMi_text {
	display:flex;
	justify-content: flex-start;
	font-size: 40px;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 2.5rem;
	background-color: hsl(4, 76%, 47%);
	height: 160px;
	width: 360px;
	padding-top:20px;
	padding-left: 10px;
	margin-top:0px;
	color:white;
}

.bestBahnMi_text:hover {
	text-decoration: underline;
	color:yellow;
}

.bahnMi img {
	height: 200px;
	width: 400px;
	background-size:contain;
}

.bahnMi {
	display:flex;
	opacity: 1;
	transition: .7s;
	z-index:1;
}


.bahnMi:hover {
  opacity: 0.5;
  z-index:0;
}

.bahnMi:hover .middle_2 {
  z-index:2;
}

.middle_2 {
  transition: .7s ;
  position: absolute;
  color: white;
  z-index: 0;
}

 .bestBahnMi_hover_text{
  background-color: hsl(4, 76%, 47%);
  color: #FAFAFA;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  padding: 8px 16px;
  margin-left:60px;
 }


 .article_3_Grid {
	flex-wrap: wrap;
	padding:20px;
	display:flex;
	color:white;
	justify-content: space-around;
	align-items: center;
}

.flexItem_3 {
	display:flex;
	flex-wrap: wrap;
	align-items: space-around;
	align-items: flex-start;
	justify-content: center;
}

.streetTour_text {
	display:flex;
	justify-content: flex-start;
	font-size: 40px;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 2.5rem;
	background-color: hsl(198, 81%, 57%);
	height: 160px;
	width: 360px;
	padding-top:20px;
	padding-left: 10px;
	margin-top:0px;
	color:white;
}

.streetTour_text:hover {
	text-decoration: underline;
	color:yellow;
}

.elmegade img {
	height: 200px;
	width: 400px;
	background-size:contain;
}


.elmegade {
	display:flex;
	opacity: 1;
	transition: .7s;
	z-index:1;
}

.elmegade:hover {
  opacity: 0.5;
  z-index:0;
}

.elmegade:hover .middle_3 {
  z-index:2;
}

.middle_3 {
  transition: .7s ;
  position: absolute;
  background-color: hsl(198, 81%, 57%);
  color: white;
  z-index: 0;
}

 .elmegade_hover_text{
  background-color: hsl(198, 81%, 57%);
  color: #FAFAFA;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  padding: 8px 16px;
  margin-left:60px;
 }

  .article_4_Grid {

	flex-wrap: wrap;
	padding:20px;
	display:flex;
	color:white;
	justify-content: space-around;
	align-items: center;
}

.flexItem_4 {
	display:flex;
	flex-wrap: wrap;
	align-items: space-around;
	align-items: flex-start;
	justify-content: center;
}

.bestParks_text {
	display:flex;
	justify-content: flex-start;
	font-size: 40px;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 2.5rem;
	background-color: hsl(80, 74%, 45%);
	height: 160px;
	width: 360px;
	padding-top:20px;
	padding-left: 10px;
	margin-top:0px;
	color:white;
}

.bestParks_text:hover {
	text-decoration: underline;
	color:yellow;
}

.parks img {
	height: 200px;
	width: 400px;
	background-size:contain;
}

.parks {
	display:flex;
	opacity: 1;
	transition: .7s;
	z-index:1;
}


.parks:hover {
  opacity: 0.5;
  z-index:0;
}

.parks:hover .middle_4 {
  z-index:2;
}

.middle_4 {
  transition: .7s ;
  position: absolute;
  background-color:hsl(80, 74%, 45%);
  color: white;
  z-index: 0;
}

 .bestParks_hover_text{
  background-color: hsl(80, 74%, 45%);
  color: #FAFAFA;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  padding: 8px 16px;
  margin-left:60px;
 }

  .article_5_Grid {
	flex-wrap: wrap;
	padding:20px;
	display:flex;
	color:white;
	justify-content: space-around;
	align-items: center;
}

.flexItem_5 {
	display:flex;
	flex-wrap: wrap;
	align-items: space-around;
	align-items: flex-start;
	justify-content: center;
}

.bestBakeries_text {
	display:flex;
	justify-content: flex-start;
	font-size: 40px;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 2.5rem;
	background-color: hsl(35, 70%, 50%);
	height: 160px;
	width: 360px;
	padding-top:20px;
	padding-left: 10px;
	margin-top:0px;
	color:white;
}

.bestBakeries_text:hover {
	text-decoration: underline;
	color:yellow;
}

.bakeries img {
	height: 200px;
	width: 400px;
	background-size:contain;
}

.bakeries {
	display:flex;
	opacity: 1;
	transition: .7s;
	z-index:1;
}

.bakeries:hover {
  opacity: 0.5;
  z-index:0;
}

.bakeries:hover .middle_5 {
  z-index:2;
}

.middle_5 {
  transition: .7s ;
  position: absolute;
  height:20px;
  background-color: hsl(35, 70%, 50%);
  color: white;
  z-index: 0;
}

 .bestBakeries_hover_text{
  background-color: hsl(35, 70%, 50%);
  color: #FAFAFA;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  padding: 8px 16px;
  width:130px;
  margin-left: 60px;
 }

/*********************************************** Extra styling for the about page ********************************************/

#socialMediaBar {
	flex direction:column;
	position: fixed;
	left:18%;
	top:18%;
	justify-content: center;
}

.socialMediaIcon {
	height: 45px;
	width: 45px;
	margin-top: 10px;
	margin-right: 25px;
}

#facebookIcon:hover{
	height: 60px;
	width: 60px;
	margin-left: -5px;
	margin-top: -5px;
}

#twitterIcon:hover{
	height: 60px;
	width: 60px;
	margin-left: -5px;
	margin-top: -5px;
}

#instagramIcon:hover{
	height: 60px;
	width: 60px;
	margin-left: -5px;
	margin-top: -5px;
}

#linkedinIcon:hover{
	height: 60px;
	width: 60px;
	margin-left: -5px;
	margin-top: -5px;
}

#githubIcon:hover{
	height: 60px;
	width: 60px;
	margin-left: -5px;
	margin-top: -5px;
}

/**
 * **************************************** Header Styles ********************************************** 
 */

#pageLogo img  {
  
}

li:nth-child(3) img { 
  width: 220px;
  height: 50px;
  margin-top: 5px;
  transition: top 1s;
}

#header {
  display:flex;
  justify-content: space-around;
  align-items:center;
}
  
div.container6 {
  height: 5em;
  width:100vw;
  background-color:hsl(195, 63%, 70%);
  display: flex;
  align-items: center;
  justify-content: space-around; 
  z-index:100;
}

 li {
    color:black;
    list-style:none;
    flex: 1 0 12vw;
    text-align:center;
    margin-left: -30px;
  }

  a {
    text-decoration:none;
    color:black;
  }

  /**
 * **************************************** About page  ********************************************** 
 */

.container {
  width: 100vw;
  height: auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.item {
  flex-shrink: 1;
  text-align: center;
  width: auto;
  background: #ffffff;
  width: 100vw;
  height:450px;
  margin:0;
  padding:0;
}

.item-2 h1 {
	margin-bottom: 200px;
	margin-top: 60px;
	text-align: center;
	line-height:2.7rem;
	color:black;
	font-family: 'Nobile', sans-serif;
	font-size:1.8;
}

#headshot {
	width: 350px;
	height:360px;
	margin-top:75px;
	margin:65px 15px auto;
	padding:0;
	border-radius: 100%;
   -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 2300ms;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: cubic-bezier("ease":".25,.1,.25,1","linear":"0,0,1,1","ease-in":".42,0,1,1","ease-out":"0,0,.58,1","ease-in-out":".42,0,.58,1");
	z-index:2;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

#description{	
	display:flex;
	justify-content: center;
	background-color:#ffffff;
	font-family: 'Mukta', sans-serif;
	flex-grow:1;
}

.iconBar_11 {
	position: relative;
	width:300px;
	height: 150px;
	margin: 0px auto;
	display:flex;
	flex:1;
	flex-shrink: 1;
}

.iconBar_22 {
	position: relative;
	width:300px;
	height: 150px;
	margin: 0px auto;
	display:flex;
	flex:1;
	flex-shrink: 1;
}

.iconBar_1 {
	position: absolute;
	top:23%;
	left:8%;
	width:300px;
	height: 150px;
	margin: 0px auto;
	display:flex;
	flex:1;
}

.iconBar_2 {
	position: absolute;
	top:23%;
	right:8%;
	width:300px;
	height: 150px;
	margin: 0px auto;
	display:flex;
	flex:1;
}

.programIcon {
	height: 140px;
	width: 140px;
	z-index:0;
}

#jsIcon {
	margin-right: 20px;
}

#htmlIcon {
	margin-left: 20px;
}

.filter{
	filter:grayscale(80%) blur(4px);
}

#jsIcon{
	-webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 3500ms;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;
}

#phpIcon{
	-webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 2000ms;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;
}

#cssIcon{
	-webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 2000ms;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;
}

#htmlIcon{
	-webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 3500ms;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;
} 

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


@-webkit-keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/*********************** Best Views **********************************/

.bestViewImg {
	height:400px;
	width: 600px;
}

/*********************** Green_spaces **********************************/

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-bottom:-20px;
}

/* Hide the images by default */
.mySlides, .mySlides_2, .mySlides_3, .mySlides_4, .mySlides_5, .mySlides_6 {
  display: none;
}

/* Next & previous buttons */
.prev, .prev_2, .prev_3, .prev_4, .prev_5, .prev_6, .next, .next_2, .next_3, .next_4, .next_5, .next_6 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next, .next_2, .next_3, .next_4, .next_5, .next_6 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .prev_2:hover, .prev_3:hover, .prev_4:hover, .prev_5:hover, .prev_6:hover, 
.next:hover, .next_2:hover, .next_3:hover, .next_4:hover, .next_5:hover, .next_6:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot, .dot_2, .dot_3, .dot_4, .dot_5, .dot_6{
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .active_2, .active_3, .active_4, .active_5, .active_6, 
.dot:hover, .dot_2:hover, .dot_3:hover, .dot_4:hover, .dot_5:hover, .dot_6:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}


/************************************************ Contact Page ***************************************************************/

/*********************** Parallax image **********************************/

.ParallaxContainer h1 {
  letter-spacing: -15px;
  font-family: Open Sans;
  color: #EB8B00;
  text-align: center;
  font-size: 150px;
  letter-spacing: -.4rem;
  line-height: 200px;
}

.MainContainer {
  width:100vw;
  margin: 0px auto;
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
}

.ContentContainer {
  background-color: white;
}

.Content {
  padding: 75px 0;
}

p {
  margin: 50px 0;
}

.ParallaxContainer {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  z-index: -1;
  height: 100vh;
  justify-content: center;
  margin-top: -80px;
  margin-left:  -20px;
  align-items: center;
  transform: translateZ(-1px) scale(2);
  background: url(Images/contact_banner4.jpg);
  background-color: rgb(250,228, 216);
}

/**************************************************************** Contact Form **********************************************************/

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


form { max-width:420px; margin:-20px auto; 
	margin-bottom: 50px;
}



.feedback-input {
  color:black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #EB8B00;
  transition: all 0.3s;
  padding: 15px;
  margin-bottom: 15px;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid hsl(195, 63%, 70%); }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#EB8B00;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:hsl(195, 63%, 70%); }

/************************************************ Top Scroll Button **********************************************************/

#myBtn_About_Page {
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 4px 30px; /* Some padding */
  border-radius: 35px; /* Rounded corners */
  font-size: 20px; /* Increase font size */
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin-left: 30px;
}

#myBtn_About_Page:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/************************************************ Media queries **************************************************************/

@media screen and (max-width: 1500px) {
	
#socialMediaBar {
	display:inline-flex;
	position: absolute;
	top: 91.5%;
	width:30vw;
	justify-content: center;
	left: 36%;
}
.socialMediaIcon {
	height: 40px;
	width: 40px;
	margin-top: 0px;
	margin-right: 25px;
}

@media screen and (max-width: 800px) {
	
	body {
  padding-bottom: 10rem; }

  .bestViewImg {
	height:300px;
	width: 500px;
}

  .ParallaxContainer h1 {
   font-size: 100px;
  line-height: 80px;
}

.middle, .middle_2 {
	margin-top: 180px;
	margin-left: -60px;
	width:460px;
	/*margin-top: 233px;*/
	/*margin-left: -335px;*/
	/*margin-left: -85px;}*/}

.middle_3, .middle_4, .middle_5 {
	margin-top: 160px;
	margin-left: -5px;
	width:265px;
	/*margin-top: 233px;
	margin-left: -275px;*/
	/*margin-left: -85px;*/}

.cphViewsText, .bestBahnMi_text, .streetTour_text, .bestParks_text, .bestBakeries_text {
	height: 200px;
	width: 400px;}

.elmegade_hover_text, .bestParks_hover_text, .bestBakeries_hover_text {
	
	margin-left:-65px;
	margin-right: -70px; }

	.item-2 h1 {
	margin-top: 30px;
	line-height:2.2rem;
	font-size:1.5rem;}

	
	 #socialMediaBar {
	display:inline-flex;
	position: absolute;
	top: 94.5%;
	width:30vw;
	justify-content: center;
	left: 36%;}


@media screen and (max-width: 700px) {

	li:nth-child(3) img { 
	  width: 180px;
	  height: 40px;
	  margin-top: 5px;
	  transition: top 1s;
 }

	div.container6 {
	  height: 8em;
	  flex-wrap:wrap;
	}

	li {
    flex: 0 1 30vw;
    text-align:center;
    margin-top: -30px;
	}

  li:nth-child(1) {
  flex: 0 1 50vw; 
  }	


  li:nth-child(2) {
  flex: 0 1 50vw;
  	}

  li:nth-child(3) {
  flex: 0 1 100vw;
  	margin-top: 0px}

  li:nth-child(4) {
  flex: 0 1 50vw;
  	}

  li:nth-child(5) {
  flex: 0 1 50vw;
  	}

 .container6 :nth-child(3) {order: 1;}
 .container6 :nth-child(1) {order: 2;}
 .container6 :nth-child(2) {order: 3;}
 .container6 :nth-child(4) {order: 4;}
 .container6 :nth-child(5) {order: 5;}


	#socialMediaBar {
	
	top: 94.5%;
	}

@media screen and (max-width: 640px) {

	.iconBar_1 {
		margin-top: -50px;
	}

	#header {
		display:flex;
		justify-content: center;
	}


	  .ParallaxContainer h1 {
  		font-size: 65px;
  		line-height: 80px;
 		margin-top: -20px;
	}

	form { max-width:320px; margin:-20px auto; 
	margin-bottom: 50px;
	}

		#headshot {
		width: 300px;
		height:310px;
		margin-top:75px;
	}

	div.container6 {
	  height: 8em;
	  flex-wrap:wrap;
	}

	#header .container{
		display : inline-flex;
		margin:0;
		padding:0;
		margin-top: 65px;
	}

	.wrapper {
		padding-bottom:20px;
		max-width: 500px;
		line-height:1.5rem;
	}


	.wrapper h1 {
 		 max-width: 500px;
 		 padding-bottom:15px;
 		 line-height:2.5rem;
	}

	.container  > li {
		display: flex;
		font-size: 1.3rem;
		flex: 2;
		list-style-type:none;
	
	}
	
	#myBtn {
		    left:41%;
	}


	.item-2 h1 {
		margin: 0 auto;  
   		max-width: 430px; 
		margin-top: 30px;
		line-height:2rem;
		font-size:1.5rem;
	}

	#socialMediaBar {
	top: 94.5%;
	}

  @media screen and (max-width: 550px) {
	
	.item-2 h1 {
	margin-top: 30px;
	line-height:2.2rem;
	font-size:1.3rem;	}

	#socialMediaBar {
	top: 94.5%;	}

	.bestViewImg {
	height:250px;
	width: 350px;
	}


	.wrapper {
		max-width: 400px;
		line-height:1.5rem;	}

	.wrapper h1 {
 		 max-width: 420px;
 		 line-height:2.5rem;}

	#headshot {
		width: 300px;
		height:310px;
		margin-top:75px;
}


	@media screen and (max-width: 450px) {

	.cphViewsText, .bestBahnMi_text, .streetTour_text, .bestParks_text, .bestBakeries_text, .cphViews img, .bahnMi img, .elmegade img, .parks img, .bakeries img {
	height: 150px;
	width: 300px;	
	font-size:2rem;}
	
			.bestViewImg {
	height:200px;
	width: 300px;
}

	.middle, .middle_2 {
	display:none;
	/*margin-top: 145px;
	margin-left: -60px;
	width:360px;*/
	/*margin-top: 233px;*/
	/*margin-left: -335px;*/
	/*margin-left: -85px;}*/}

.middle_3, .middle_4, .middle_5 {
	display:none;
	/*margin-top: 140px;
	margin-left: -5px;
	width:165px;*/
	/*margin-top: 233px;
	margin-left: -275px;*/
	/*margin-left: -85px;*/}

	#socialMediaBar {
	top: 93.5%;	
	left: 37.5%;}

	.socialMediaIcon {
	height: 35px;
	width: 35px;
	margin-right: 20px;}

	.item-2 h1 {  
    max-width: 320px;}

	.wrapper {
		max-width: 300px;
		line-height:1.5rem;}

	.wrapper h1 {
 		 max-width: 500px;
 		 line-height:2.5rem;}
	
						}
					}
				}
			}
		}
	}
}



