html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  /*padding-bottom: 6rem;*/
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.wrapper {
	
  margin: 0 auto;  /*centres the text in the middle of the page*/
  padding-top: 64px;
  max-width: 640px; /*restrict the width for more concise viewing*/
  width: 94%;
  text-align:justify;
}

.descripWrapper h1 {
  
  text-align: center;
  margin-top: 170px;
  line-height:2.7rem;
  color:#f4f4f4;
  font-family: 'Nobile', sans-serif;
}

/**
 * Footer Styles
 */

.footer {
  position: absolute;
  display:flex;
  background-color:hsl(195, 63%, 70%);
  justify-content: space-around;
  align-items:center;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

/**
 * Header Styles
 */

#header {
	background-color:hsl(195, 63%, 70%);
	position:fixed;
	width:100vw;
	z-index:3; 
	height:50px;
	transition: top 0.2s ease-in-out;
}

.container {
	display:inline-flex;
	width:100vw;
}

.container  > li {
	display:flex;
	font-size:1.1rem;
	flex: 1;
	list-style-type:none;
	justify-content: center;
	margin-top: -2px;
}*/

#header {
 	justify-content: center;
	background-color:hsl(195, 63%, 70%);
	position:fixed;
	width:100vw;
	z-index:3; 
	height:50px;
	transition: top 0.5s;
}


.container {
	display:flex;
	width:100vw;
}

.container  > li {
	display:flex;
	font-size:1.1rem;
	display: inline-flex;
	flex: 1;
	list-style-type:none;
	justify-content: center;
	margin-top: -2px;
}

.container a {
	text-decoration:none;
	color:black;
}

#home_button {
	margin-right: -250px;
}

#contact_button {
	margin-left: -250px;
}

.container a {
	text-decoration:none;
	color:black;
}

#pageLogo img {
	width:180px;
	height: 40px;
	z-index:1;
	position:relative;
	margin-top: 5px;
	z-index:4;
	background-size:contain;
	transition: top 1s;
}


/*#page_logo img {
  width:180px;
  height: 40px;
  margin-top: 5px;
  transition: top 1s;
}

#header {
  display:flex;
  justify-content: space-around;
  align-items:center;
}
  
div.container6 {
  height: 5em;
  width:100vw;
  background-color:hsl(195, 63%, 70%);
  display: flex;
  align-items: center;
  justify-content: space-around; 
}

 li {
    color:black;
    list-style:none;
    flex: 1 0 18vw;
    text-align:center;
    margin-left: -30px;
  }

  a {
    text-decoration:none;
    color:black;
  }

/*extra styling for the about page*/


.flex{
	display:flex;

}

#headshot {
	flex:1;
	margin: auto auto;
	margin-left: -180px;
	width: 450px;
	height:650px;
	float:left;
	z-index:0;
}

#description{
	flex:1;
	background-color:#B2627E;
	width: 600px;
	height: 650px;
	font-family: 'Mukta', sans-serif;
}

#programBar {
	position: absolute;
	width:500px;
	left: 47.5%;
	top: 70%;
	margin-top: 30px;
	justify-content: space-around;
}

.programIcon {
	height: 80px;
	width: 80px;
	margin-bottom: 10px;
}

#jsIcon:hover{
	height: 100px;
	width: 100px;
	margin-left: -5px;
	margin-top: -5px;
}

#phpIcon:hover{
	height: 100px;
	width: 100px;
	margin-left: -5px;
	margin-top: -5px;
}

#cssIcon:hover{
	height: 100px;
	width: 100px;
	margin-left: -5px;
	margin-top: -5px;
}

#htmlIcon:hover{
	height: 100px;
	width: 100px;
	margin-left: -5px;
	margin-top: -5px;
}

#myBtn {
  position: absolute; /* Fixed/sticky position */
  bottom: 60px; /* Place the button at the bottom of the page */
  left: 45%;
  /*right: 150px;*/ /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 4px 30px; /* Some padding */
  border-radius: 35px; /* Rounded corners */
  font-size: 20px; /* Increase font size */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}


@media screen and (max-width: 500px) {
  .wrapper {
    max-width: 380px;
  }

  div.container6 {
    height:12em;
    flex-direction: column;
    /*flex-wrap:wrap;*/
  }

   li {
    color:black;
    list-style:none;
    flex: 0 1;
    margin-left:0;
    text-align:center;
    margin-top: -20px;
  }

  li img {
    width:180px;
    height: 40px;
    margin-top: 20px;
    transition: top 1s;
    margin-left: -20px;
}

  
  .container6 :nth-child(3) {order: 1;}
  .container6 :nth-child(1) {order: 2;}
  .container6 :nth-child(2) {order: 3;}
  .container6 :nth-child(4) {order: 4;}
  .container6 :nth-child(5) {order: 5;}

  #footer {
    height: 5em;
  }

  #myBtn {
    left:41%;
  }